* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

.container-1200 {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
}

.container-head_top {
    display: flex;
    justify-content: flex-end;  
}

.container-head_bottom{
    display: flex;
    align-items: center; 
}

li {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 30px;
}

.header-top {
    height: 2rem;
    background-color: #0282f9;
    display: flex;
    align-items: center;
}

.header-bottom {
    height: 6rem;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 5%;
    margin-right: auto;
}

.li-head_bottom {
    color: black;
    font-weight: bolder;
    font-size: .9rem;
}

.fa-angle-down {
    margin-left: 5px;
    font-size: .8rem;
}

.search-container {
    margin-left: 100px;
    display: flex;
    justify-content: flex-end;
    width: 120px;
}

#search {
    border: none;
    padding: .3rem;
    border-bottom: 2px solid #0282f9;
}

.main-comics_top {
    height: 20rem;
    position: relative;
}

.current-series {
    position: absolute;
    bottom: -10px;
    left: 90px;
    width: 180px;
    background-color: #0282f9;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    padding: .5rem .9rem;
}

.jumbo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.main-comics_bottom {
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-content {
    width: calc(100% / 6);
    margin-bottom: 50px;
}

.card-title {
    font-size: 1rem;
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

button {
    width: 150px;
    margin: auto;
    border: none;
    background-color: #0282f9;
    color: white;
    text-transform: uppercase;
    padding: .6rem 0;
}

.footer-top {
    height: 8rem;
    background-color: #0282f9;
    display: flex;
    align-items: center;
}

.img-foot {
    width: 4%;
    margin-left: 50px;
    cursor: pointer;
}

.img-foot-locator {
    width: 3%;
    margin-left: 50px;
    cursor: pointer;
}

.foot-top_text {
    font-size: .8rem;
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}